body {
	margin: 0;
	
	font: 12px/1.7em 'Open Sans', arial, sans-serif;
	
	background: #DDD url(../img/bg.jpg) no-repeat fixed 0 0;
	
	-webkit-background-size: cover;           /* Safari 3.0 */
	-moz-background-size: cover;           /* Gecko 1.9.2 (Firefox 3.6) */
	-o-background-size: cover;           /* Opera 9.5 */
	background-size: cover;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */

	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='path_relative_to_the_HTML_file', sizingMethod='scale')";
}

p {	
	margin-bottom: 2em;
	
	font: 12px/1.7em 'Open Sans', arial, sans-serif;
}

h1 {
	margin-bottom: .25em;
}

h2 {
	margin-bottom: .5em;
	
	font-size: 22px;
	font-weight: 600;	
}

h3 {
	margin-bottom: .75em;
	
	font-size: 18px;
	font-weight: 600;
}

h4, h5, h6 {
	margin-bottom: 1.25em;

	font-weight: 600;
}

input {
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
}

#wrapper {
	width: 880px;
	padding: 0 50px;
	margin: 300px auto 0 auto;
	
	background: #2e3138;
	/*background: #575a61;*/
	
	border: 1px solid #DDD\9;
	border-top: 12px solid #222;
	border-bottom: none;
	
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
	box-shadow: 0 0 5px rgba(0,0,0,.25);
}

#header {
	padding: 35px 0;
}

#header h1 {
	width: 100%;
	height: 42px;
	margin: 0;
}

#header h1 a {
	display: block;
}

#nav {
	margin-bottom: .5em;
}

#nav .container > .main-nav {
	padding: 0;
	margin: 0;
	
	border-top: 1px solid #DDD;
}

#nav .container > .main-nav > li {
	position: relative;
	top: -1px;
	
	float: left;
	
	padding: 0 40px 0 0;
	margin: 0;
	
	list-style: none;
	
	border-top: 1px solid #DDD;
}

#nav .container > .main-nav > li:last-child {
	padding-right: 0;
}

#nav .container > .main-nav > li > a {
	position: relative;
	top: -1px;
	
	display: block;
	
	padding: 15px 5px 5px;
	
	color: #999;
	
	text-transform: uppercase;
	
	border-top: 1px solid transparent;
}

#nav .container > .main-nav > li > a:hover,
#nav .container > .main-nav > li.dropdown.open > a {
	color: #5e5e5e;
	
	text-decoration: none;
	
	border-top-color: #5e5e5e;
	border-top-width: 1px;
}

#nav .container > .main-nav > li.active a {
	padding-top: 12px;
	
	color: #ededed;
	
	border-top-color: #F90;
	border-top-width: 4px;
}

#nav .container > .main-nav > li > a > .caret {
	position: relative;
	top: -2px;
	
	margin-left: .5em;
}

#nav .dropdown-menu a:hover {
	background-color: #F90;
}

#nav .dropdown-menu > li > a {
	padding: 6px 12px;
}

#nav .dropdown-menu i {
	margin-right: .5em;
	
	font-size: 14px;
}

#nav .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

#nav .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}

input.error, .form-vertical textarea.error {
	border-color: #b94a48;
	color: #b94a48;
}

.form-inline .help-block.error, .form-inline .help-inline.error, .form-horizontal .help-block.error, .form-horizontal .help-inline.error, .form-vertical .help-block.error, .form-vertical .help-inline.error {
	color: #b94a48;
}

.form-inline label.error, .form-horizontal label.error, .form-vertical label.error {
	color: #b94a48;
}

#responsive-nav-trigger {
	width: auto;
	padding: 5px 10px;
	
	background-color: #F8F8F8;
	background-image: url(../img/responsive-nav-bg.png);
	background-position: center right;
	background-repeat: no-repeat;
	
	color: #8F8F8F;
	
	font-size: 12px;
	line-height: 1.5;
			
	border: 1px solid #E8E8E8;
	
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#responsive-nav-trigger.open {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
		
#responsive-nav {
	position: relative;
	z-index: 1001;
	
	display: none;
	
	margin: 0 0 2em;
}

#responsive-nav-items {
	display: none;
	
	padding: 12px 10px;
	margin: 0 0 1.5em;
	
	background: #F8F8F8;
	
	border: 1px solid #e3e3e3;
	border-top: none;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#responsive-nav-items ul {
	padding: 0;
	margin: 0;
}

#responsive-nav-items li {	
	list-style: none;
}

#responsive-nav-items > li > ul > li > a {
	padding-left: 30px;
}

#responsive-nav-items a {
	padding: 8px 10px;
	
	display: block;
	
	color: #222;
	
	font-size: 13px;
	font-weight: 600;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#responsive-nav-items a:hover {
	text-decoration: none;
	
	background: #DDD;
}

#responsive-nav-items li.active a {
	color: #FFF;
	
	text-decoration: none;
	
	background: #F90;
}

#masthead {
	position: relative;
	
	height: 375px;
	margin-bottom: 2.5em;
	
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,.5);	
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,.5);
	box-shadow: 1px 1px 6px rgba(0,0,0,.5);
}

.masthead-details {
	position: absolute;
	top: 0;
	right: 0;
	
	width: 225px;
	height: 335px;
	padding: 20px;
	
	color: #FFF;
	
	background: #333;	
	background: rgba(0,0,0,.70);
	
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.masthead-details h2 {
	margin-bottom: .75em;
	
	font-size: 28px;
}

.masthead-details p {	
	font-size: 14px;	
}

#masthead .carousel-control {
	top: 50%;
	left: -72px;
	
	line-height: 26px;
	
	opacity: .35;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#masthead .carousel-control:hover {
	opacity: .80;
}

#masthead .carousel-control.right {
	left: auto;
	right: -72px;
}

#page-title {    	
	padding: 30px 50px;
	margin: 0 -50px 2.5em;
	
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	
	background: #EEE;
}

#page-title h1 {
	margin-bottom: .40em;
	
	font-weight: 600;
}

#page-title p {
	margin-bottom: 0;
	
	font-size: 15px;
}

#welcome h1 {
	padding: 0 80px;
	
	color: #777;
	
	font-size: 22px;
	font-style: italic;
	font-weight: 600;
	line-height: 1.75em;
}

#welcome {
	
	text-align: center;
}

#content {
	
}

#footer {
	clear: both;
	
	padding: 20px 50px;
	margin: 2.5em -50px 0;
	
	color: #BBB;
	
	background: #222;
	
	border-top: 1px solid #111;
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}

#footer .row {
	margin-bottom: 0;
}

#footer #footer-logo {		
	overflow: hidden;
	
	width: 212px;
	height: 33px;
	margin-bottom: .75em;
	
	line-height: 600px;
	
	background: url(../img/footer-logo.png) no-repeat 0 0;
}

#footer a {
	color: #FFF;
}

#copyright {
	clear: both;
	
	padding: 20px 50px 15px 50px;
	margin: 0 -50px;
	
	color: #777;
	
	font-size: 11px;
	text-transform: uppercase;
	
	background: #000;
	
	border-top: 1px solid #000;
	
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
}

#copyright #rights {
	
}

#copyright #totop {
	text-align: right;
}

#copyright a {
	color: #FFF;
}

.row {
	margin-left: 0;
}

.container {
	width: 880px;
}

.grid-1 { width: 55px; }
.grid-2 { width: 130px; }
.grid-3 { width: 205px; }
.grid-4 { width: 280px; }
.grid-5 { width: 355px; }
.grid-6 { width: 430px; }
.grid-7 { width: 505px; }
.grid-8 { width: 580px; }
.grid-9 { width: 655px; }
.grid-10 { width: 730px; }
.grid-11 { width: 805px; }
.grid-12 { width: 880px; }


.append-12 { padding-right: 900px; }
.append-11 { padding-right: 825px; }
.append-10 { padding-right: 750px; }
.append-9 { padding-right: 675px; }
.append-8 { padding-right: 600px; }
.append-7 { padding-right: 525px; }
.append-6 { padding-right: 450px; }
.append-5 { padding-right: 375px; }
.append-4 { padding-right: 300px; }
.append-3 { padding-right: 225px; }
.append-2 { padding-right: 150px; }
.append-1 { padding-right: 75px; }


.prepend-12 { padding-left: 900px; }
.prepend-11 { padding-left: 825px; }
.prepend-10 { padding-left: 750px; }
.prepend-9 { padding-left: 675px; }
.prepend-8 { padding-left: 600px; }
.prepend-7 { padding-left: 525px; }
.prepend-6 { padding-left: 450px; }
.prepend-5 { padding-left: 375px; }
.prepend-4 { padding-left: 300px; }
.prepend-3 { padding-left: 225px; }
.prepend-2 { padding-left: 150px; }
.prepend-1 { padding-left: 75px; }



.row [class^="grid-"]:first-child {
	margin-left: 0;
}

.row.nopad [class^="grid-"] {
	margin-bottom: 0;
}

.row.divider:last-child {
	margin-bottom: 0;
	
	border: none;
}

.row-divider {
	
	margin: 1.5em 0 3em;
	
	border: none;
	border-bottom: 1px dotted #CCC;
}

.slash {
	padding-right: .25em;
	
	color: #F90;
}


.social-icons-container {
	width: 100%;
	display: table;
	padding: 0;
	margin: 2.5em 0 0;
	
	list-style: none;
}

.social-icons-container li {
	width: 33%;
	display: table-cell;	
	
	text-align: center;			
}

.social-icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	overflow: hidden;	
	
	line-height: 600px;
	
	background: url(../img/social/social-sprite.png) no-repeat 0 0;					
}

.social-icon-twitter {
	background-position: 0 0;					
}

.social-icon-twitter:hover {
	background-position: 0 -50px;					
}

.social-icon-googleplus {
	background-position: -50px 0;
}

.social-icon-googleplus:hover {
	background-position: -50px -50px;
}

.social-icon-facebook {
	background-position: -100px 0;	
}

.social-icon-facebook:hover {
	background-position: -100px -50px;	
}


.clearfix,
.row { zoom: 1; }
.clearfix:before,
.row:before,
.clearfix:after,
.row:after { content: ""; display: table; }
.clearfix:after,
.row:after { clear: both; }

.about-container .about-item {
	padding-right: 2em;
}

.about-container .choose-item h3 i {
	margin-right: .4em;
	
	color: #F90;
}

.about-container .choose-item h3 {
	margin-bottom: 0;
	
	font-size: 14px;
}

.work-container .work-item .thumbnail {
	margin-bottom: 1.5em;
}

.service-container .service-item h3 {
	font-size: 14px;	
}

.service-container .service-item h3 i {
	position: relative;
	top: 3px;
	
	margin-right: .25em;
	
	color: #F90;
	
	font-size: 24px;
}

.filter-container input {
	max-width: 110px;
}

.row [class^="grid-"] {
    float: left;
}

.dropdown-menu {
	padding: 15px;
}

#loading {
	display: none;
	height: 150px;
	left: 50%;
	margin-left: -150px;
	margin-top: -125px;
	position: fixed;
	top: 50%;
	width: 300px;
	z-index: 1150;
}

.circle {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
	-o-animation:spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7;
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
	-o-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-o-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-o-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

.dropdown-menu { 
    padding: 5px 0; 
} 

.dropdown-menu li hr { 
    margin: 9px 1px; 
} 

.dropdown-menu form { 
    padding: 5px 15px; 
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #fff;
	border: 0 none;
}

.foreverban {
	color: #ff624d;
}

select {
	color: #000;
}

.errorSummary {
	color: #d93232;
}

.adminPrefix {
	color: #6bc06b;
}